# Get free URL https://alchemy.com or https://infura.io 
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/tPnoaCk0xPf7nnPLaWPFA

# Export your (admin/developer) wallet private key (NEVER commit the real .env to git)
PRIVATE_KEY=0xYOUR_WALLET_PRIVATE_KEY
